@theme {
  --color-midnight: #21252d;
  --color-mathblue: #1b91d6;
  --color-sky: #8ecae6;
  --color-slatecard: #1a1e2a;
  --color-lightblue: #bfdbfe;
  --color-hoverblue: #60a5fa;
  --color-slategray: #1a1e2a;
  --color-softgray: #9ca3af;
}

