---
import BaseLayout from '../layouts/BaseLayout.astro';
import TerminalOverlay from '../components/TerminalOverlay.astro';
import IndexTerminal from '../components/IndexTerminal.astro';
import GlitchedTitle from '../components/GlitchedTitle.astro';
---

<BaseLayout title="Home - Project ConquestAce">

<GlitchedTitle />
 <section class="text-center mt-12">
  <a href="/newtab" class="text-lightblue text-xl font-semibold tracking-widest hover:text-hoverblue transition duration-300">
    >>> newtab
</a>
</section>

<section class="text-center mt-12">
   <a href="/wildcarder" class="text-lightblue text-xl font-semibold tracking-widest hover:text-hoverblue transition duration-300">
    >>> wildcarder.py
</a>
</section>

<section class="text-center mt-12">
   <a href="/encryptedfiles" class="text-lightblue text-xl font-semibold tracking-widest hover:text-hoverblue transition duration-300">
    >>> /encryptedfiles
</a>
</section>

<IndexTerminal />




</BaseLayout>
