---
import BaseLayout from '../layouts/BaseLayout.astro';
import TerminalOverlay from '../components/TerminalOverlay.astro';
import IndexTerminal from '../components/IndexTerminal.astro';
import GlitchedTitle from '../components/GlitchedTitle.astro';
---

<BaseLayout title="Home - Project ConquestAce">

<GlitchedTitle />
 <section class="text-center mt-12">
  <a href="/newtab" class="text-lightblue text-xl font-semibold tracking-widest hover:text-hoverblue transition duration-300">
    >>> newtab
</a>
</section>
<img
  src="/glitchtiger.gif"
  alt=""
  class="fixed top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/3
         w-[25vmin] max-w-none h-auto opacity-10
         pointer-events-none -z-10 select-none"
  loading="lazy"
/>
<section class="text-center mt-12">
   <a href="/wildcarder" class="text-lightblue text-xl font-semibold tracking-widest hover:text-hoverblue transition duration-300">
    >>> wildcarder.py
</a>
</section>

<IndexTerminal />




</BaseLayout>
