---
/* tab.astro */
import GlitchedTitle from '../components/GlitchedTitle.astro';
import MinimumLayout from '../layouts/MinimumLayout.astro';
import '../styles/tab.css'
---

  <head>
    <meta charset="UTF-8" />
    <title>ConquestAce — New Tab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet" />

<MinimumLayout>
    
    <div id="app">
      <div id="clock"></div>
      <input id="input"
        type="text"
        autofocus
        autocomplete="off"
        spellcheck="false"
        autocapitalize="none"
        autocorrect="off"
        placeholder=""
      />
      <div id="message"></div>
      <a href="/"><img id="glitch-tiger" src="/glitchtiger.gif" alt="Glitch Tiger"  style="opacity: 0.1"; /> </a>
<GlitchedTitle />    
</div>

    <!-- Link to tab logic -->
    <script src="/scripts/tablogic.js" type="module"></script>

  </MinimumLayout>
